.tech-arti-main{
	border-top: 2px solid #dedede; 
	padding: 50px 0 80px 0;
}
.tech-arti-detail{width: 1214px; margin: 0 auto;}
.tech-arti-detail:after{
	content: "."; 
    display: block;
    height: 0; 
    clear: both; 
    visibility: hidden; 
}
.tech-arti-left{display: inline-block; float: left; width: 877px;}
.tech-arti-right{display: inline-block; float: right; background: #97e6ba; width: 282px; height: 750px;}